*{
	margin: 0;
	padding:0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;

}
nav{
	background-image: url(../снимки/pink.jpg);
	
	height: 140px;
}
label.name{

	color: white;
	font-size: 35px;
	line-height: 80px;
	padding-left:  10px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	
	display: inline;
	line-height: 80px;
	margin: 5px;
	
}
nav ul li a{
	color:white;
	font-size: 15px;
	text-transform: uppercase;
	
	border-radius: 3px;


}
img{
	float:left;
	padding-top: 2px;
	width: 10%;
	padding-bottom: 5px;
	box-sizing: border-box;
}
a.active,a:hover{
	background-color: brown;
	transition: .3s;
	padding-top: 2px;
	padding-bottom: 2px; 
}
.checkbtn{
	font-size: 30px;
	color:white;
	float:right;
	line-height: 80px;
	margin-right: 40px;
	cursor: help;
	display: none;
}
#check{
	display: none;

}
@media (max-width: 800px){
	label.name{
		font-size: 25px;
		padding-left: 10px;
	}
	img{
		width: 17%;
	}
	nav ul li a{
		font-size: 10px;

	}
}
@media (max-width: 990px){
	.checkbtn{
		display: block;
	}
	
	nav ul{
		
		
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: #2c3e50;
		top: 120px;
		left: -100%;
		text-align:center;
		transition:all .5s;
	}
	nav ul li {
		display: block;
		line-height: 100px;

	}
	nav ul li a{

		color: white;
		font-size: 20px;
	}
	a:hover,a.active{
		background-color: brown;
		color: white;

	}
	#check:checked ~ ul{
		left:  0;
	}
	

}
